/*==========================
04. Index Area Style CSS
===========================*/

.header-area{
  background-color: $white;
  padding: 10px 0;
  transition: 0.4s;

  .logo-area {
    max-width: 180px;
  }

  &.sticky{
    animation: slideInDown 0.6s forwards;
    padding: 5px 0 15px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    @media #{$sm-device, $md-device} {
      padding: 20px 0;
    }

    .logo{
      &-dark{
        display: none;
      }
    }

    .main-menu{
      .submenu-nav{
        margin-top: 25px;

        &:before{
          height: 25px;
        }
      }
    }
  }

  &.transparent:not(.sticky){
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    .logo{
      &-light{
        display: none;
      }
    }

    .main-menu{
      & > li{

        &.has-submenu{
          &:after{
            color: $black;
            font-weight: 600;
          }
        }

        & > a{
          color: $brandColor;
          font-weight: 600;
        }
      }
    }

    .header-action{
      a,button{
        color: $brandColor;
        font-weight: 600;
      }
    }
  }
}

// Index Action
.header-action{
  color: $white;
  font-size: 22px;

  @media #{$lg-device, $sm-device} {
    font-size: 20px;
  }

  .btn-cog {
    font-size: 0.9375rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1.62px;
    text-transform: uppercase;
    position: relative;
    margin-left: 20px;
  }

  .btn-about {
    color: white;
    background-color: #d61c29;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 18px;
    margin: .618em .618em;
    text-align: center;
    text-transform: uppercase;
    margin-left: 20px;

    @media #{$sm-device} {
      margin-top: 5px;
    }

    &:hover {
      opacity: .8;
  }
  }

  a{
    color: $white;

    &.tel-no{
      @media #{$xs-device} {
        display: none;
      }
    }
  }

  // [class*='btn-']{
  //   color: $black;
  //   margin-left: 20px;
  // }
}