/*==========================================
28. Contact Page Style CSS
===========================================*/
.single-input-item {
  color: $paragraph;
  margin-bottom: 30px;

  label, .custom-control-label {
    color: $paragraph;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;

    &.required {
      &:after {
        content: '*';
        color: red;
        margin-left: 2px;
      }
    }
  }

  input, textarea {
    border: 1px solid $borderColor;
    color: $paragraph;
    font-weight: 500;
    display: block;
    outline: none;
    padding: 15px 20px;
    transition: 0.3s;
    width: 100%;

    &:focus {
      border-color: $brandColor;
    }
  }

  .nice-select {
    line-height: 30px;
    height: 50px;
    width: 100%;

    .current {
      color: #8d8d8d;
      font-weight: 400;
    }

    .list {
      font-size: 14px;
    }
  }
}

.contact-method {
  h3 {
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: Cormorant Garamond;
    font-weight: 700;
    font-style: italic;
    font-size: 28px;
    text-align: left;
  }

  h1 {
    font-family: acumin-pro-semi-condensed;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    margin-bottom: 20px;
    letter-spacing: .1em;
    line-height: 1.2em;
    color: #131516;
  }

  hr{
    color: #d61c29;
    background-color: #d61c29;
  }

  label{
    font-family: corundum-text;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .01em;
  }
  select{
    font-family: corundum-text;
  }

  option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

  &.contact-form-area {
    padding: 20px 0 20px 15px;

    @media #{$md-device, $sm-device} {
      padding: 45px 30px 45px 30px;
    }
  }

  &.contact-information {
    // background-color: $brandColor;
    height: 80%;
    color: $white;
    padding: 20px;
    display: flex;
    align-items: center;

    @media #{$lg-device,$xl-device} {
      // justify-content: center;
    }

    .member-social-icons {
      a {
        height: auto;
        width: auto;
        margin-right: 15px;
        opacity: 0.9;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.contact-content-wrap {
  box-shadow: 0 10px 60px 0 rgba(71, 74, 182, 0.12);
}