h3 {
        text-align: left;
        font-family: Cormorant Garamond;
        font-weight: 700;
        font-style: italic;
        font-size: 28px;
        letter-spacing: .01em;
        line-height: 1.1em;
        text-transform: none;

}

.ApproT {
        display: none;
}