.ApproachSectionTitle{
    color: black;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 500;
}
.imgAppr2{  
    width: 550.5px;
    height: 352.5px;
    margin: 30px;
} 

.imgAppr1 {
    width: 550.5px;
    height: 352.5px;
    margin: 30px;
}

.picrow {
    display: flex;
    flex-flow: row;
}

.pictext1 {
    margin-top: 25%;
}
.pictext2 {
    margin-top: 25%;
}
.picpara1 {
    color: white;
}
.picpara2 {
    color: white;
}

.Approachpara1 {

    text-align: left;
    font-family: corundum-text;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .01em;
    line-height: 1.67em;
    text-transform: none;
    color: #000;

}
.Approachpara2 {

    text-align: left;
    font-family: corundum-text;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .01em;
    line-height: 1.67em;
    text-transform: none;
    color: #000;
}
.Approachheader {
    color: red;
    text-align: left;
    font-family: acumin-pro-condensed;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    letter-spacing: .02em;
    line-height: 1em;
    text-transform: none;;
}
.ApproList {
    text-align: left;
    font-family: corundum-text;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .01em;
    line-height: 1.67em;
    text-transform: none;
    color: #000;
}

.about-thumb1 {
    
}

