.NewsHeader {
    font-size: medium;
    text-align: left;
}

.about-area-wrapper{
    margin: 10px;
}

.colnews {
    padding: 15px;
    padding-top: 0px;
    width: 100%;
    text-align: left;
}

.NewsRow {
    display: flex;
    flex-direction: row;
}

.stories {
    padding-left: 30px;
}