p {
    font-family: corundum-text;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .01em;
    line-height: 1.67em;
    text-transform: none;
    color: #000;
}

.body2 {
    font-size: x-large;
}

.body3 {
    font-size: medium;
}